.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #301934;
    height: 100vh;
}

.dashboard-box{
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    height: 70px;
    margin-top: 40px;
    box-shadow: 0 2px 4px rgba(0 0 0 0.1);
    background-color: rgba(132, 160, 6, 0.7);
    text-align: center;
}