.hero{
    display: flex;
    color: #ffc107;
    height: 95vh;
    background-color: #301934;
}

.hero-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.hero-text{
    font-size : 3rem;
    margin-bottom: 10px;
    word-spacing: 1%;
    font-size:  8rem 
}
.hero-description{
    font-size: 2rem;
    margin-bottom: 20px;
    max-width: 400px;
}
.hero-image{
    font: 1;
    background: center;
    background-size: 100%;
    height: 60%;
    width: 30%;
    background-repeat: no-repeat;
    align-items: center;
    margin-top: 13%;
    margin-right: 10%;
}